body {
  margin: 0;
  background: url(./Images/BGMAIN.png) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  /* overflow: hidden; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}

#my-canvas {
  background-color: red;
}

#start-button,
#restart-button {
  background-color: red;
  color: white;
  padding: 10px;
  font-size: 20px;
  margin-top: 40px;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

#my-canvas,
#gameover-screen {
  display: none;
}

#splash-screen {
  /* background-color: darkred; */
  padding: 50px;
  border-radius: 20px;
  
  background-image: url("./Images/fondo-splash-screen.jpg");
}
#gameover-screen {
  background-color: darkred;
  padding: 150px;
  border-radius: 20px;

}

#cloud-background {
  opacity: 0.5;

}
.start-titles {
  
}

button:hover {
  

}